@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: Roboto, sans-serif;
}

::selection {
  background: #ffffff20;
  color: #fff;
}

.page {
  padding-top: 4rem;
  padding-bottom: 100rem;
}

.toast-entry {
  transform: translateY(-100%);
  transition: transform 100ms ease-in;
}

.toast-entered {
  transform: translateY(0);
}

.toast-exit {
  transform: translateY(-100%);
  transition: transform 100ms ease-out;
}

.atom-forge-enabled {
  border-color: #10b981;
  cursor: pointer;
  transition-duration: 250ms;
}

.atom-forge-enabled:hover {
  background-color: #10b98140;
}

.atom-forge-disabled {
  border-color: #f43f5e;
  cursor: default;
  transition-duration: 250ms;
}

.atom-forge-disabled:hover {
  background-color: #f43f5e40;
}
